
<br>

<div class='container-fluid bg-1 text-center'>
  <h3>Recent Novels</h3>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>


  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag('TompkinsSchool.jpg', style: 'height: 400px; width: 251px', display: 'center') %>
    </div>

    <div class="item">
      <%= image_tag('TompkinsSchool2.jpg', style: 'height: 400px; width: 251px', display: 'center') %>
    </div>
  </div>
<br>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</dvi>
<br>

<div class='row>
	  <div class='col-md-12'>
<div class="container-fluid bg-2">
	<h4>Tompkin's School Trilogy</h4>
	<h5>For The Extraordinarily Talented</h5>
<br>
	    <div class='col-md-6'>
	<h5>Book I</h5>
	<%= image_tag('TompkinsSchool.jpg', class: 'img-circle', style: 'height: 200px; width: 125px', display: 'left') %>
	 <h5>Izara Torvik thought her life was over the moment that her father sent her and her twin brother to a boarding school in the middle of nowhere Oklahoma. She soon discovers that the school is not as ordinary as she thought and finds herself thrown into a battle facing her inner demons that only have one desire...the desire to kill.</h5>
  </div>
<br>
	<div class='col-md-6'>
	<h5>Book II</h5>
	<%= image_tag('TompkinsSchool2.jpg', class: 'img-circle', style: 'height: 200px; width: 125px', display: 'left') %>
	<h5>Work in Progress</h5>
	</div>

</div>
</div>
</div>
</div>

<br>

<div class="container-fluid bg-3 text-center">
  <h3>About the Author</h3>
  <%= image_tag('tabi.jpg', class: 'img-circle', style: 'height: 200px')%>
  <h4>Tabi Slick is a web developer with a degree in Linguistics from the University of Texas. She was born with an immense appreciation for technology as well as literature and continues to dedicate her time to her passion of creating an intriguing piece of work.</h4>
</div>
<br>

<a href="https://github.com/tabislick/tabislick"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>